@model StudentAdministrationSystem.Models.Subject

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <h4>Fag</h4>
        <hr />
        @Html.LabelFor(model => model.Name)
        <br />
        @Html.EditorFor(model => model.Name)
        <br />
        <br />
        @Html.LabelFor(model => model.Description)
        <br />
        @Html.EditorFor(model => model.Description)
        <br />
        <input type="submit" value="Opret Fag" />
    }

    <div>
        @Html.ActionLink("Tilbage til oversigten", "Index")
    </div>
</body>
</html>
